.slider-container{
    width: 30vw;
    margin: auto;
}

.input-range__slider{
    background: blue;
    border: none;
}
  
.input-range__track {
    background: #ddd;
}
  
.input-range__track--active {
    background: blue;
}
  
.input-range__label--value .input-range__label-container {
    background: blue;
    color: white;
    font-size: 0.65rem;
    padding: 2px 5px;
    border-radius: 3px;
}
  
.input-range__label--min .input-range__label-container, .input-range__label--max .input-range__label-container
{
    font-size: 0.65rem;
    color: #888;
    left: 0;
}
  
.input-range__label--max .input-range__label-container {
    left: 25%;
}
  