.slider-container{
    width: 50%;
    margin: auto;
}

.slider {
    margin-bottom: 40px;
  }
  
  .slider label {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
  }
  
  .input-range__slider {
    background: #e27a3f;
    border: none;
  }
  
  .input-range__track {
    background: #ddd;
  }
  
  .input-range__track--active {
    background: #e27a3f;
  }
  
  .input-range__label--value .input-range__label-container {
    background: #e27a3f;
    color: white;
    font-size: 0.65rem;
    padding: 2px 5px;
    border-radius: 2px;
  }
  
  .input-range__label--min .input-range__label-container,
  .input-range__label--max .input-range__label-container
   {
    font-size: 0.65rem;
    color: #888;
    left: 0;
  }
  
  .input-range__label--max .input-range__label-container {
    left: 25%;
  }
  