.movies-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-card{
    width: 342px;
    margin: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
    color: #111;
}

.movie-card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-container{
    display: flex;
    flex-direction: column;
}

.sliders-container{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit-btn{
    margin: auto;
    height: 30px;
    width: 150px;
}